/*General Page Settings*/
body, html {
    height: 100%;
    margin: 0;
    font-family: Helvetica;
}

/* Top Tab Links*/
.tablink {
    background-color: #cecece;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #c8f7df;
    color: black;
}

.tablink:active {
    background-color: #c8f7df;
    color: black;
}

/* tabcontent is the page body(s) */
.tabcontent {
    color: black;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#Home {
    background-color: ghostwhite;
}

#News {
    background-color: ghostwhite;
}

#Contact {
    background-color: ghostwhite;
}

#About {
    background-color: ghostwhite;
}